* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.passwordArea {
  margin-top: 50px;
  .passwordText {
    height: 0px;
    transition: all 0.15s ease-in-out;
    .success {
      font-size: 14px;
      color: green;
    }
    .fail {
      font-size: 14px;
      color: red;
    }
  }
}
