*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.checkBoxListArea{
    .allCheckArea{
       display: inline-block;
       margin-top: 10px;
       .allCheckName{
           display: inline-block;
           margin-right: 10px;
           vertical-align: middle;
       }
    }
}