*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 32px;
    .input{
        font-size: 20px;
        color: #fff;
        width: 328px; height: 48px;
        padding: 0 24px;
        position: relative;
        left: 50%; transform: translateX(-50%);
        border: none;
        border-bottom: solid 1px #fff;
        background-color:transparent;
        &::placeholder{
          color: #fff;
          font-size: 18px;
        }
    }
    .pw{
        margin-top: 20px;
    }
    .text {
        font-size: 16px;
        font-weight: 400;
        height: 0px;
        transition: all 0.15s ease-in-out;
        .success {
          margin-top: 10px;
          color: #068352;
        }
        .fail {
          margin-top: 10px;
          color: #A61332;
        }
      }
}